@model Lmyc.Models.BookingViewModels.BookingViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Booking.Boat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.Boat.BoatName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Booking.StartDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.StartDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Booking.EndDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.EndDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Booking.NonMemberCrews)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.NonMemberCrews)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Booking.Itinerary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.Itinerary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Booking.AllocatedHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.AllocatedHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Booking.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.User.FirstName) @Html.DisplayFor(model => model.Booking.User.LastName)
        </dd>
        <dt>
            Member Crews:
        </dt>
        @foreach (var u in Model.UserRoles)
    {
        <dd>
            Name: @u.Name
        </dd>
        <dd>
            Role: @u.RoleName
        </dd>
        <hr />
}
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Booking.BookingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
